
mixin images(image)
    tr.image
        td
            img(src="/img/"+repoName+'/'+image.path)
        td=image.singulier ? "Oui":"Non"
        td=image.indice
        td
            form(method="POST", action="/repo/"+repoName+"/image/"+image.path+"/invert" id="form_"+image.path)
                select(id=image.path onchange='submitOnChange("'+image.path+'")')
                    option(value=image.singulier)= image.singulier ? "Singulier" : "Neutre"
                    option(value=!image.singulier)= image.singulier ? "Neutre" : "Singulier"

html
    head
        title 'Images of the Set'
        script
            include ../js/imageSet.js
        style
            include ../css/imageSet.css
    body
        div
            h1 List of images Sets
            table
                thead
                    td
                    td Singulière ?
                    td Indice
                    td
                tbody
                    for image in sourceList
                        +images(image)

